<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SampleMag</title>
    <!--in app data bundleconfig worden deze bundels bepaald-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/vendors")
    @Scripts.Render("~/bundles/spa")
    @RenderSection("scripts", required: false)
</body>
</html>